.sub-title {
    @apply inline-block relative z-1 text-xs font-poppins font-bold text-blue uppercase tracking-widest;
    @media(min-width: 768px) {
        @apply text-sm;
    }
}

.sub-title::before {    
    content: '';
    height: 5px;
    z-index: -1;
    @apply absolute bottom-0 left-0 right-0 mb-1 bg-yellow transition-all;
}

.sub-title--no-underline::before {
    opacity: 0;
}

.sub-title--no-underline:hover::before {
    opacity: 100;
}